{% load static %}
<link rel="stylesheet" href="{% static 'MiniatureGallery/batch_gallery_style.css' %}">


<section class="batch-index-container">

	{% if search_list %}
	<!-- SEARCH KEYWORDS -->
	<div style="padding-top:5px;">
		Showing results for: 
		{% for tag in search_list %}
			{{tag}} 
		{% endfor %}
	</div>
	{% endif %}

	{% if batch_list %}

		<!-- FUN FACTS -->
		<div class="stats-table">
			<ul class = "stats-list">
				<!-- Batches -->
				<li class="stats-container">
					Batches: <br>
					{% if batch_count != total_batch_count %}
						{{batch_count}} of {{total_batch_count}} [{{batch_ratio}}]
					{% else %}
						{{total_batch_count}} total
					{% endif %}
				</li>
				<!-- Models -->
				<li class="stats-container">
					Models: <br>
					{% if model_count != total_model_count %}
						{{model_count}} of {{total_model_count}} [{{model_ratio}}]
					{% else %}
						{{total_model_count}} total
					{% endif %}
				</li>
				<!-- Points -->
				<li class="stats-container">
					Points: <br>
					{{results_points}}
				</li>
			</ul>
		</div>
		

		<!-- GALLERY GRID ITEM -->
		<ul>
	    {% for batch in batch_list %}
			<li class="batch-index-gallery">
				<a href="{% url 'MiniatureGallery:batchdetail' batch.id %}">
				{% if batch.get_thumbnail_url %}
					<img class= "batch-index-thumbnail" src="{{batch.get_thumbnail_url}}"/>
				{% else %}
					<img class= "batch-index-thumbnail" src="{% static 'MiniatureGallery/images/fallback.jpg' %}"/>
				{% endif %}
				
				{{ batch }}
				<br>
				[{{ batch.kit_id }}]
				</a>
			</li>
		{% endfor %}
		</ul>

	{% else %}
		<!-- NO RESULTS -->
		<p>No batches are available.</p>
	{% endif %}
</section>    